[Desktop Entry]
Encoding=UTF-8
Name=Nexbit
Comment=Nexbit P2P Cryptocurrency
Comment[fr]=Nexbit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nexbit, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/nexbit-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/nexbit;
Categories=Office;
