
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz




# autoreconf



config.log

conftest.err


.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.nexbit
*.a
*.pb.cc
*.pb.h

*.log
*.trs


*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm



background.tiff*

# Unit-tests
Makefile.test

src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_nexbit.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build


test/cache/*
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
cache/*

!src/leveldb*/Makefile

.cproject
.project



.idea

cmake-build-debug

moc_*
*.tmp



nexbitd-new-gui.*
