
## <summary>policy for nexbit</summary>


########################################
## <summary>
##	Transition to nexbit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nexbit_domtrans',`
	gen_require(`
		type nexbit_t, nexbit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nexbit_exec_t, nexbit_t)
')


########################################
## <summary>
##	Execute nexbit server in the nexbit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nexbit_initrc_domtrans',`
	gen_require(`
		type nexbit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nexbit_initrc_exec_t)
')


########################################
## <summary>
##	Search nexbit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nexbit_search_lib',`
	gen_require(`
		type nexbit_var_lib_t;
	')

	allow $1 nexbit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nexbit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nexbit_read_lib_files',`
	gen_require(`
		type nexbit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nexbit_var_lib_t, nexbit_var_lib_t)
')

########################################
## <summary>
##	Manage nexbit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nexbit_manage_lib_files',`
	gen_require(`
		type nexbit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nexbit_var_lib_t, nexbit_var_lib_t)
')

########################################
## <summary>
##	Manage nexbit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nexbit_manage_lib_dirs',`
	gen_require(`
		type nexbit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nexbit_var_lib_t, nexbit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nexbit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nexbit_admin',`
	gen_require(`
		type nexbit_t;
		type nexbit_initrc_exec_t;
		type nexbit_var_lib_t;
	')

	allow $1 nexbit_t:process { ptrace signal_perms };
	ps_process_pattern($1, nexbit_t)

	nexbit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nexbit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nexbit_var_lib_t)

')

