# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=NEXBIT Core
Comment=NEXBIT Core QT test network
GenericName=NEXBIT Digital Currency QT client testnet network
Exec=nexbit-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/nexbit_testnet.png
MimeType=x-scheme-handler/nex;
Categories=X-Office;X-Finance;
Keywords=internet;nexbit;znexbit;tnex;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=nexbit-qt_testnet.desktop
