# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=NEXBIT Core Daemon SNAP
Comment=testnet
GenericName=NEXBIT Digital Currency Daemon Client testnet network
Exec=nexbit-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/nexbit_testnet.png
MimeType=x-scheme-handler/nex;
Categories=X-Office;X-Finance;
Keywords=internet;nexbit;znexbit;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
